<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="app.js"></script>

	</head>

	<body ng-app="CDS-config-app">
		<div id="container" class="container-fluid">
			<div id="jumbotron" class="jumbotron">
				<!-- <button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-secondary">Secondary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-danger">Danger</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-light">Light</button>
				<button type="button" class="btn btn-dark">Dark</button>
				<button type="button" class="btn btn-link">Link</button> -->
				<h1>CDS Configurator App</h1>
				<div ng-controller="configurator">
					<span>Please select which type of installation:</span><br>
						<button ng-click="new_installation()" class="{{new_section.class}}" type="button" >New Installation</button>
						<button ng-click="existing_installation()" class="{{existing_section.class}}" type="button">Existing Installation</button>
						<!-- <hr ng-show="new_section.show || existing_section.show"> -->
						<nav class="nav nav-tabs nav-fill" id="nav-tabs" ng-show="new_section.show">
						  <a ng-repeat="obj in tabs_information['new'] track by obj.id"
									ng-show="{{obj.show}}"
									class="{{obj.tabClass}}"
									href="#"
									ng-click="new_tab('new', obj.id)">
									{{obj.name}}
							</a>
						</nav>
						<nav class="nav nav-tabs nav-fill" id="nav-tabs" ng-show="existing_section.show">
							<a ng-repeat="obj in tabs_information['existing'] track by obj.id"
									ng-show="{{obj.show}}"
									class="{{obj.tabClass}}"
									href="#"
									ng-click="new_tab('existing', obj.id)">
									{{obj.name}}
							</a>
						</nav>
						<section id="new-installation" ng-show="new_section.show">
							<h4>New Installation</h4>
							<form ng-show="tabs_information['new'][0].active"> <!--  ng-submit="TBC()"  -->
								<div id="new-top">
									<div id="new-left">
										<ul>
											<li ng-repeat="(key,value) in new_values" ng-show="new_values[key]['show']">
												<div class="form-group">
											    <label for="{{'new_' + key}}"><strong>{{new_values[key]['text']}}</strong></label>
											    <input class="{{'form-control ' + new_values[key]['valid']}}" aria-describedby="{{'new_' + key + '_help'}}" id="{{'new_' + key}}" type="text" ng-change="update_new(key)" ng-model="new_values[key]['value']" ng-disabled="new_values[key]['disabled']">
											    <small id="{{'new_' + key + '_help'}}" class="form-text text-muted">{{new_values[key]['small']}}</small>
											  </div>
											</li>
										</ul>
									</div>
									<div id="new-right">
										<div class="row">
											<div class="col col-8">
												<h4>Option 1 (Enterprise):</h4>
											</div>
											<div class="col col-4">
												<button type="button" ng-click="option_selected('Option 1', 'new', 1)" style="float: right;" class="btn btn-sm btn-success">Select Option 1</button>
											</div>
										</div>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in new_result_2">
												<td>{{obj.QTY}}</td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
										<br>
										<div class="row">
											<div class="col col-8">
												<h4>Option 2 (Workstation):</h4>
											</div>
											<div class="col col-4">
												<button type="button" ng-click="option_selected('Option 2', 'new', 1)" style="float: right;" class="btn btn-sm btn-success">Select Option 2</button>
											</div>
										</div>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in new_result_1">
												<td>{{obj.QTY}}</td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
										<!-- <br> -->
										<!-- <input type="submit" value="submit" class="btn btn-success"> -->
									</div>
								</div>
							</form>
							<form ng-show="tabs_information['new'][1].active">
								<h6>{{tabs_information['new_chosen']}}</h6>
								<table style="width:100%" class="table">
									<tr>
										<th>QTY</th>
										<th>PN</th>
										<th>DESCRIPTION</th>
										<th>NOTES</th>
									</tr>
									<tr ng-repeat="obj in new_result_chosen">
										<td>{{obj.QTY}}</td>
										<td>{{obj.PN}}</td>
										<td>{{obj.DESC}}</td>
										<td>{{obj.NOTES}}</td>
									</tr>
								</table>
							</form>
							<form ng-show="tabs_information['new'][2].active">
								<h6>{{tabs_information['new_chosen']}}</h6>
							</form>
							<div class="row" id="bottom-row" ng-show="tabs_information['new'][0].active"> <!-- new_bottom.show &&  -->
								<div class="col col-lg-4 col-md-6 col-12" id="enterprise_svg">
									<div class="card">
										<h4 class="card-header">Option 1:<br>Enterprise</h4>
										<div class="card-body no-top-padding">
											<div class="graph">
												<canvas width=300 height=300></canvas>
												<svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMin">
													<!-- <my-custom-svg svg-class="new_WE"></my-custom-svg> -->
													<rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="#FFFFFF" stroke="none"/>
													<g id="Enterprise" class="" style="opacity:{{1}}" transform="translate(25,25)">
														<g class="" style="opacity:{{1}}" transform="translate(0,0)">
															<g ng-repeat="obj in new_enterprise['inst']">
												        <rect fill="#919191" stroke="#222222" id="inst_{{$index * 2}}"
																	width="50" height="24" style="color: rgb(0, 0, 0);"
																	ng-attr-x="{{($index+1) % 2 == 0 ? 200 : 0}}"
																	ng-attr-y="{{(($index+1) % 2 == 0 ? $index * 13 -13 : ($index+1) * 13 -13) + ($index>11 ? 10 : 0)}}"
																	ng-attr-class="{{new_WE[$index]['svgClass']}}">
																</rect>
															    <text style="font-weight: bold; font-family: sans-serif; fill: #ffffff"
																		ng-attr-class="{{$index>11 ? 'text_10' : 'text'}}"
																		ng-attr-x="{{(($index+1) % 2 == 0 ? 209 : 9)-($index>11 ? 5: 0)}}"
																		ng-attr-y="{{(($index+1) % 2 == 0 ? $index*13 +4: ($index+1)*13 +4)+ ($index>11 ? 10 : 0)}}">
																		{{'INST' + ($index>11 ? ' x' + new_WE[$index].extra : '')}}
																	</text>
																	<line ng-if="$index == 12" x1="-2" y1="160" x2="254" y2="160" fill="#242424" stroke="#222222" class="svg_dashed_line_true"/>
																	<text ng-if="$index == 12" x="0" y="230" style="font: bold 10px sans-serif; fill: #222222">Enterprise network is too large to be shown fully</text>
																	<line ng-repeat="obj in new_enterprise['IPC']" fill="#242424" stroke="#222222"
																		ng-attr-x1="{{($parent.$index+1) % 2 == 0 ? 200 : 50}}"
																		ng-attr-y1="{{(($parent.$index+1) % 2 == 0 ? $parent.$index * 13 : ($parent.$index+1) * 13)+ ($parent.$index>11 ? 10 : 0)}}"
																		ng-attr-x2="{{($parent.$index+1) % 2 == 0 ? 150 : 100}}"
																		ng-attr-y2="{{$index * 52 + 26 + ($index>2 ? 10 : 0)}}"
																		id="line_{{$parent.$index + '_' + $index}}"
																		ng-attr-class="{{'svg_dashed_line_'.concat($parent.$index > 11 || $index > 2)}}">
																	</line>
																<!-- <rect fill="#919191" stroke="#222222" id="inst_{{$index * 2 + 1}}" x="200" ng-attr-y="{{$index * 26}}" width="50" height="24" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[$index * 2 + 1]['svgClass']}}" />
																	<text x="209" ng-attr-y="{{$index * 26 + 17}}" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
																	<line ng-repeat="obj in new_enterprise['IPC']" fill="#242424" ng-attr-class="{{'svg_dashed_line_'.concat($parent.$index > 5 || $index > 2)}}" stroke="#222222" x1="200" ng-attr-y1="{{$parent.$index * 26 + 12}}" x2="150" ng-attr-y2="{{$index * 52 + 26}}" id="line_{{$parent.$index + '_' + $index * 2 + 1}}" class=""/> -->
															</g>
															<g ng-repeat="obj in new_enterprise['IPC']">
																<rect fill="#242424" stroke="#222222" id="IPC_{{$index}}" x="100" ng-attr-y="{{$index * 52 + 6 + ($index>2 ? 10 : 0)}}"  width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
 											          	<text x="115" ng-attr-y="{{$index * 52 + 31 + ($index>2 ? 10 : 0)}}" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
															</g>
											      </g>
											    </g>
												</svg>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-lg-4 col-md-6 col-12" id="options_svg">
									<div class="card">
										<h4 class="card-header">Option 2:<br>{{current_new_options_1.name}}</h4>
										<div class="card-body no-top-padding">
											<div class="graph">
												<canvas width=300 height=300></canvas>
												<svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMin" ng-show="new_bottom.show">
													<!-- <my-custom-svg svg-class="new_WE"></my-custom-svg> -->
													<rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="#FFFFFF" stroke="none"/>
													<g id="Single Edition" class="" style="opacity:{{current_new_options_1.Edition_visible[0]}}" transform="translate(25,25)">
											      <g class="" style="opacity:{{current_new_options_1.IPC_visible[0]}}" transform="translate(0,0)">
											         <rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="0" y="7.5" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_TF" />
											           <text x="9" y="24.5" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="20" x2="100" y2="20" id="svg_6" class=""/>
											         <rect fill="#242424" stroke="#222222" id="svg_5" x="100" y="0" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
											           <text x="115" y="25" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
											      </g>
											      <g class="" style="opacity:{{current_new_options_1.IPC_visible[1]}}" transform="translate(0,45)">
															<rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="100" y="7.5" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_TF" />
																<text x="109" y="24.5" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
																<line fill="#242424" stroke="#222222" x1="50" y1="20" x2="100" y2="20" id="svg_6" class=""/>
															<rect fill="#242424" stroke="#222222" id="svg_5" x="0" y="0" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
																<text x="15" y="25" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
											      </g>
											    </g>
													<g id="Workgroup Edition" class="" style="opacity:{{current_new_options_1.Edition_visible[1]}}" transform="translate(25,25)">
											      <line fill="#242424" stroke="#222222" x1="125" y1="70" x2="75" y2="115" id="svg_6" stroke-width="{{current_new_options_1.IPC_visible[1]*3}}" class=""/>
											      <line fill="#242424" stroke="#222222" x1="125" y1="200" x2="75" y2="155" id="svg_6" stroke-width="{{current_new_options_1.IPC_visible[2]*3}}" class=""/>
											      <g class="" style="opacity:{{current_new_options_1.IPC_visible[0]}}" transform="translate(0,0)">
											         <rect fill="#919191" stroke="#222222" id="svg_1" x="0" y="0" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[0]['svgClass']}}" />
											           <text x="9" y="17" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="12.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="0" y="25" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[1]['svgClass']}}" />
											           <text x="9" y="42" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="37.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#0404b8" stroke="#222222" id="svg_3" x="0" y="50" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[2]['svgClass']}}" />
											           <text x="9" y="67" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="62.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#04b804" stroke="#222222" id="svg_4" x="0" y="75" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[3]['svgClass']}}" />
											           <text x="9" y="92" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="87.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#242424" stroke="#222222" id="svg_5" x="100" y="30" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
											           <text x="115" y="55" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
											      </g>
											      <g class="" style="opacity:{{current_new_options_1.IPC_visible[1]}}" transform="translate(0,85)">
											         <rect fill="#919191" stroke="#222222" id="svg_1" x="150" y="0" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[4]['svgClass']}}" />
											           <text x="159" y="17" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="150" y1="12.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="150" y="25" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[5]['svgClass']}}" />
											           <text x="159" y="42" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="150" y1="37.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#0404b8" stroke="#222222" id="svg_3" x="150" y="50" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[6]['svgClass']}}" />
											           <text x="159" y="67" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="150" y1="62.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#04b804" stroke="#222222" id="svg_4" x="150" y="75" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[7]['svgClass']}}" />
											           <text x="159" y="92" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="150" y1="87.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#242424" stroke="#222222" id="svg_5" x="50" y="30" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
											           <text x="65" y="55" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
											      </g>
											      <g class="" style="opacity:{{current_new_options_1.IPC_visible[2]}}" transform="translate(0,170)">
											         <rect fill="#919191" stroke="#222222" id="svg_1" x="0" y="0" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[8]['svgClass']}}" />
											           <text x="9" y="17" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="12.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="0" y="25" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[9]['svgClass']}}" />
											           <text x="9" y="42" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="37.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#0404b8" stroke="#222222" id="svg_3" x="0" y="50" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[10]['svgClass']}}" />
											           <text x="9" y="67" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="62.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#04b804" stroke="#222222" id="svg_4" x="0" y="75" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="{{new_WE[11]['svgClass']}}" />
											           <text x="9" y="92" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="87.5" x2="100" y2="50" id="svg_6" class=""/>
											         <rect fill="#242424" stroke="#222222" id="svg_5" x="100" y="30" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
											           <text x="115" y="55" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
											      </g>
											    </g>
												</svg>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-lg-4 col-md-6 col-12" id="legend">
									<div class="card">
										<h4 class="card-header">Legend:<br>Option 1 & 2</h4>
										<div class="card-body no-top-padding">
											<div class="graph">
												<canvas width=300 height=300></canvas>
												<svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMin">
													<!-- <my-custom-svg svg-class="new_WE"></my-custom-svg> -->
													<g id="Legend" class="" style="opacity:{{1}}" transform="translate(10,25)">
											      <g class="" style="opacity:{{1}}" transform="translate(0,0)">
											         <rect fill="#919191" stroke="#222222" id="svg_1" x="0" y="0" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_TF" />
											           <text x="9" y="17" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="12.5" x2="70" y2="12.5" id="svg_6" class=""/>
																 <text x="78" y="16" style="font: bold 10px sans-serif; fill: #222222">Thermo Fisher Instument License (Class 1)</text>
											         <rect fill="#ce8a2b" stroke="#222222" id="svg_2" x="0" y="25" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_GC" />
											           <text x="9" y="42" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="37.5" x2="70" y2="37.5" id="svg_6" class=""/>
																 <text x="78" y="41" style="font: bold 10px sans-serif; fill: #222222">3rd Party GC Instument License (Class 2)</text>
											         <rect fill="#0404b8" stroke="#222222" id="svg_3" x="0" y="50" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_LC" />
											           <text x="9" y="67" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="62.5" x2="70" y2="62.5" id="svg_6" class=""/>
																 <text x="78" y="66" style="font: bold 10px sans-serif; fill: #222222">3rd Party LC Instument License (Class 3)</text>
											         <rect fill="#04b804" stroke="#222222" id="svg_4" x="0" y="75" width="50" height="25" style="color: rgb(0, 0, 0);" class="" ng-attr-class="svg_unused" />
											           <text x="9" y="92" style="font: bold 13px sans-serif; fill: #ffffff">INST</text>
											           <line fill="#242424" stroke="#222222" x1="50" y1="87.5" x2="70" y2="87.5" id="svg_6" class=""/>
																 <text x="78" y="91" style="font: bold 10px sans-serif; fill: #222222">Unused Instrument License Capacity</text>
											         <rect fill="#242424" stroke="#222222" id="svg_5" x="0" y="125" width="50" height="40" style="color: rgb(0, 0, 0);" class=""/>
											           <text x="15" y="150" style="font: bold 13px sans-serif; fill: #ffffff">IPC</text>
																 <line fill="#242424" stroke="#222222" x1="50" y1="145" x2="70" y2="145" id="svg_6" class=""/>
																 <text x="78" y="149" style="font: bold 10px sans-serif; fill: #222222">Instrument Personal Computer</text>
											      </g>
											    </g>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section id="existing-installation" ng-show="existing_section.show">
							<h4>Existing Installation</h4>
							<form ng-show="tabs_information['existing'][0].active"> <!--  ng-submit="TBC()"  -->
									<div id="existing-left">
										<ul>
											<li>
												<div class="form-group">
													<label for="selected_installation"><strong>Current Installation Package</strong></label><br>
													<select class="form-control" id="selected_installation" ng-change="update_installation_type()" ng-model="selected_installation" ng-options="x for x in installation_type"></select>
												</div>
											</li>
											<li ng-repeat="(key,value) in existing_values" ng-show="existing_values[key]['show']">
												<div class="form-group">
											    <label for="{{'exist_' + key}}"><strong>{{existing_values[key]['text']}}</strong></label>
											    <input class="{{'form-control ' + existing_values[key]['valid']}}" aria-describedby="{{'exist_' + key + '_help'}}" id="{{'exist_' + key}}" type="text" ng-change="update_existing()" ng-model="existing_values[key]['value']" ng-disabled="existing_values[key]['disabled']">
											    <small id="{{'exist_' + key + '_help'}}" class="form-text text-muted">{{existing_values[key]['small']}}</small>
											  </div>
											</li>
										</ul>
									</div>
									<div id="existing-right">
										<ul id="existing-dropdowns">
											<li>
												<div class="form-group">
													<label for="selected_category"><strong>How would you like to modify</strong></label><br>
													<select class="form-control" id="selected_category" ng-change="update_category()" ng-model="selected_category" ng-options="x for x in modification_categories"></select>
												</div>
											</li>
											<li>
												<div class="form-group">
													<label for="selected_option"><strong>Specifically</strong></label><br>
													<select class="form-control" id="selected_option" ng-change="update_existing()" ng-model="selected_option" ng-options="x for x in modification_options[selected_category]"></select>
												</div>
											</li>
										</ul>
										<h4>Options:</h4><span style="{{'color: ' + existing_validation.style + ';'}}">{{existing_validation.text}}</span>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in existing_result">
												<td><div class="form-group"><input class="{{'form-control ' + obj.Valid}}" type="text" style="width: 45px; text-align: center;" ng-model="obj.QTY" ng-change="update_quantities()"></div></td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
									</div>
									<!-- <input type="submit" value="submit" class="btn btn-success"> -->
									<button type="button" class="btn btn-success">Submit</button>
							</form>
							<form ng-show="tabs_information['existing'][1].active">
								<h6>Part 2</h6>
							</form>
							<form ng-show="tabs_information['existing'][2].active">
								<h6>Part 3</h6>
							</form>
						</section>
					<!-- <hr> -->
				</div>
				<!-- end of configurator -->
				<!-- <div ng-controller="to-do">
					<h1>To Do List</h1>
					<button ng-click="removeCompleted()" class="btn btn-outline-danger" type="button" >Remove Completed</button>
					<br><br>
					<ul>
						<li ng-repeat="todo in todos">
						<label class="checkbox">
						<input type="checkbox" ng-model="todo.done">
						<span class="done-{{todo.done}}">{{todo.text}}</span>
						</label>
						</li>
					</ul>
					<form class="form-inline" ng-submit="addTodo()">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="todoText" size="30" placeholder="add new todo here" style="margin-right: 10px;">
							<input type="submit" value="add" class="btn btn-success">
						</div>
					</form>
				</div> -->
				<!-- end of to-do -->
			</div>
		</div>
	</body>
</html>
