<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="app.js"></script>

	</head>

	<body ng-app="CDS-config-app">
		<div id="container" class="container-fluid">
			<div id="jumbotron" class="jumbotron">
				<!-- <button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-secondary">Secondary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-danger">Danger</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-light">Light</button>
				<button type="button" class="btn btn-dark">Dark</button>
				<button type="button" class="btn btn-link">Link</button> -->
				<h1>CDS Configurator App</h1>
				<div ng-controller="configurator">
					<span>Please select which type of installation:</span><br>
						<button ng-click="new_installation()" class="{{new_section.class}}" type="button" >New Installation</button>
						<button ng-click="existing_installation()" class="{{existing_section.class}}" type="button">Existing Installation</button>
						<hr ng-show="new_section.show || existing_section.show">
						<section id="new-installation" ng-show="new_section.show">
							<h4>New Installation</h4>
							<form ng-submit="TBC()">
									<div id="new-left">
										<ul>
											<li ng-repeat="(key,value) in new_values" ng-show="new_values[key]['show']">
												<div class="form-group">
											    <label for="{{'new_' + key}}"><strong>{{new_values[key]['text']}}</strong></label>
											    <input class="{{'form-control ' + new_values[key]['valid']}}" aria-describedby="{{'new_' + key + '_help'}}" id="{{'new_' + key}}" type="text" ng-change="update_new(key)" ng-model="new_values[key]['value']" ng-disabled="new_values[key]['disabled']">
											    <small id="{{'new_' + key + '_help'}}" class="form-text text-muted">{{new_values[key]['small']}}</small>
											  </div>
											</li>
										</ul>
									</div>
									<div id="new-right">
										<h4>Option 1:</h4>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in new_result_1">
												<td>{{obj.QTY}}</td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
										<br><br>
										<h4>Option 2:</h4>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in new_result_2">
												<td>{{obj.QTY}}</td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
										<br>
									</div>
									<input type="submit" value="submit" class="btn btn-success">
							</form>
						</section>
						<section id="existing-installation" ng-show="existing_section.show">
							<h4>Existing Installation</h4>
							<form ng-submit="TBC()">
									<div id="existing-left">
										<ul>
											<li>
												<div class="form-group">
													<label for="selected_installation"><strong>Current Installation Package</strong></label><br>
													<select class="form-control" id="selected_installation" ng-change="update_installation_type()" ng-model="selected_installation" ng-options="x for x in installation_type"></select>
												</div>
											</li>
											<li ng-repeat="(key,value) in existing_values" ng-show="existing_values[key]['show']">
												<div class="form-group">
											    <label for="{{'exist_' + key}}"><strong>{{existing_values[key]['text']}}</strong></label>
											    <input class="{{'form-control ' + existing_values[key]['valid']}}" aria-describedby="{{'exist_' + key + '_help'}}" id="{{'exist_' + key}}" type="text" ng-change="update_existing()" ng-model="existing_values[key]['value']" ng-disabled="existing_values[key]['disabled']">
											    <small id="{{'exist_' + key + '_help'}}" class="form-text text-muted">{{existing_values[key]['small']}}</small>
											  </div>
											</li>
										</ul>
									</div>
									<div id="existing-right">
										<ul id="existing-dropdowns">
											<li>
												<div class="form-group">
													<label for="selected_category"><strong>How would you like to modify</strong></label><br>
													<select class="form-control" id="selected_category" ng-change="update_category()" ng-model="selected_category" ng-options="x for x in modification_categories"></select>
												</div>
											</li>
											<li>
												<div class="form-group">
													<label for="selected_option"><strong>Specifically</strong></label><br>
													<select class="form-control" id="selected_option" ng-change="update_existing()" ng-model="selected_option" ng-options="x for x in modification_options[selected_category]"></select>
												</div>
											</li>
										</ul>
										<h4>Options:</h4><span style="{{'color: ' + existing_validation.style + ';'}}">{{existing_validation.text}}</span>
										<table style="width:100%" class="table">
										  <tr>
										    <th>QTY</th>
										    <th>PN</th>
										    <th>DESCRIPTION</th>
												<th>NOTES</th>
										  </tr>
											<tr ng-repeat="obj in existing_result">
												<td><div class="form-group"><input class="{{'form-control ' + obj.Valid}}" type="text" style="width: 45px; text-align: center;" ng-model="obj.QTY" ng-change="update_quantities()"></div></td>
										    <td>{{obj.PN}}</td>
										    <td>{{obj.DESC}}</td>
												<td>{{obj.NOTES}}</td>
										  </tr>
										</table>
									</div>
									<input type="submit" value="submit" class="btn btn-success">
							</form>
						</section>
					<hr>
				</div>
				<!-- end of configurator -->
				<!-- <div ng-controller="to-do">
					<h1>To Do List</h1>
					<button ng-click="removeCompleted()" class="btn btn-outline-danger" type="button" >Remove Completed</button>
					<br><br>
					<ul>
						<li ng-repeat="todo in todos">
						<label class="checkbox">
						<input type="checkbox" ng-model="todo.done">
						<span class="done-{{todo.done}}">{{todo.text}}</span>
						</label>
						</li>
					</ul>
					<form class="form-inline" ng-submit="addTodo()">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="todoText" size="30" placeholder="add new todo here" style="margin-right: 10px;">
							<input type="submit" value="add" class="btn btn-success">
						</div>
					</form>
				</div> -->
				<!-- end of to-do -->
			</div>
		</div>
	</body>
</html>
